
<h3>Markalar</h3>

<ul class="list-group">
  
 <div  class="mb-2">
  
    <input type="text" [(ngModel)]="filterBrandText" class="form-control"  placeholder="Arama ifadesi giriniz..">
  </div>
  <div *ngIf="filterBrandText.length>2" class="alert alert-success">
    {{filterBrandText}} aradınız
  </div>
  <li [class]="getCurrentBrandClass(brand)" *ngFor="let brand of brands | filterBrand:filterBrandText" 
    (click)="setCurrentBrand(brand)"
   routerLink="/cars/brand/{{brand.brandId}}"> 
  {{brand.brandName}}</li>
</ul>
 
<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h5>  

